.contact-form {
    display: flex;
}

.save-btn {
    background-color: seagreen;
    color: white;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    height: 33px;
}
.save-btn:hover {
    background-color: #01ffa2;
}

input {
    font-size: 25px;
    background-color: white;
    color: #191a1c;
    text-align: center;
    width: 296px;
    border: 1px solid #191a1c;
    margin-top: 15px;
    margin-bottom: 25px;
}
