body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.delete-btn{
    background-color: grey;
    height: 35px;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: coral;
}
.task-item{
    font-size: 25px;
    background-color: white;
    color: #191a1c;
    text-align: center;
    width: 300px;
    border: 1px solid #191a1c;
}
.task-item-email{
    font-size: 25px;
    background-color: white;
    color: #191a1c;
    text-align: center;
    width: 330px;
    border: 1px solid #191a1c;
}
.contact-item{
    display: flex;
    align-content: center;
}
.btn-edit{
    background-color: #191a1c;
    color: white;
    font-size: 13px;
    width: 50px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}
.btn-edit:hover {
    background-color: seagreen;
}
